<!-- Terminal -->
<div class="terminal" [ngSwitch]="pickedFood">
  <h1 class="terminal-text" *ngIf="pickedFood">
    <pre class="word">{{pickedFood.name}}</pre>
  </h1>
</div>


<div class="button-picker-wrapper">
  <button color="primary" mat-raised-button mat-button class="" (click)="clickPick()" tabindex="0">
    <span class="middle-icon">Pick</span>
  </button>
</div>




<mat-chip-list
  class="example-chip">
  <mat-chip
    color="primary"
    (click)="selectedFilter(category)"
    class="example-box"
    [ngClass]="{'active-filter': category === filter}"
    *ngFor="let category of foodCategories">
    {{category}}
  </mat-chip>
</mat-chip-list>
