:host {
  display: flex;
  row-gap: 35px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 25px;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  .button-picker-wrapper > *:not(.circle-link),
  .terminal {
    width: 95%;
  }
}

.active-filter {
  background: #3f51b5;
  color: white;
}


