:host {
  display: flex;
  row-gap: 35px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 25px;
}


.terminal {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
}

.terminal::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(58, 58, 58);
  color: #c2c3c4;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}

.terminal pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}

.terminal-text {
  font-weight: 800;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.terminal-text .word {
  display: inline-block;
  line-height: 20px;
  text-align: center;
  width: 100%;

}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  .button-picker-wrapper > *:not(.circle-link),
  .terminal {
    width: 95%;
  }

}

.active-filter {
  background: #3f51b5;
  color: white;
}


