
#edit-food, #pick-food {
  position: absolute;
  bottom: 50px;
  right: 45px;
}

.left-arrow-icon-wrapper {
  position: absolute;
  bottom: 45px;
  left: 45px;

}

.right-arrow-icon-wrapper {
  position: absolute;
  bottom: 45px;
  right: 45px;
}
