<div class="content">

  <div class="card-container">
    <button class="card card-small" (click)="showFullList = !showFullList" tabindex="0">
      <span class="material-icons first-icon">summarize</span>
      <span class="middle-icon-list">List</span>
      <span class="last-icon material-icons">summarize</span>
    </button>
  </div>

  <div *ngIf="showFullList">
    <mat-list role="list" *ngFor="let food of foodListStore">
      <mat-list-item role="listitem">{{food.name}} | {{food.category}}</mat-list-item>
    </mat-list>
  </div>

</div>
