.text {
  font-size: 25px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  text-align-last: center;
  text-align: center;
  line-height: 1.2;
  text-shadow: 1px 3px 6px black;
}
