
.header, .footer {
  height: 10vh;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header, .content {
  padding: 1em;
}

app-background {
  display: flex;
  align-items: stretch;
}



