<mat-toolbar color="primary" class="header">

  <img
    width="40"
    alt="Angular Logo"
    src="./assets/maxx_rl_logo.png"
  />

  <span class="animated-title">Regarding food</span>
  <span class="nav-spacer"></span>
  <button routerLink="/pick-food" routerLinkActive="router-link-active" mat-icon-button
          aria-label="Pick Food Icon">
    <mat-icon>restaurant</mat-icon>
  </button>
  <button routerLink="/list-food" routerLinkActive="router-link-active" mat-icon-button
          aria-label="List Food Icon">
    <mat-icon>edit</mat-icon>
  </button>
  <button routerLink="/plan-food" routerLinkActive="router-link-active" mat-icon-button
          aria-label="Plan Food Icon">
    <mat-icon>table</mat-icon>
  </button>
</mat-toolbar>

<div [@routeAnimations]="prepareRoute(outlet)" class="content" role="main">
  <router-outlet #outlet="outlet"></router-outlet>
</div>
<app-navigation-arrow></app-navigation-arrow>
<app-background></app-background>



