
:host {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  align-items: center;
}

.mat-column-name {
  word-wrap: break-word;
  width: calc(100% - 25px);
  color: white;
}

.mat-column-category {
  width: 100px;
  color: white;
}

.mat-column-action {
  width: 60px;
  color: white;
}

table {
  width: 100%;
  background-color: #3f51b5;
}

.food-list-table {
  height: 55vh;;
  overflow-y: auto;
}
