<div class="food-plan-table">
  <table mat-table [dataSource]="datasource" class="">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Meal</th>
      <td mat-cell *matCellDef="let element"> {{element.food.name}} </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>Category</th>
      <td mat-cell *matCellDef="let element">
        {{element.food.category}}</td>
    </ng-container>

    <ng-container matColumnDef="weekday">
      <th mat-header-cell *matHeaderCellDef>Day</th>
      <td mat-cell *matCellDef="let element">
        {{element.weekday.name}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" [style.background-color]="tableHeaderRowColor"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div class="add-button-container">
  <button (click)="clickNewPlan()" mat-fab color="primary">
    Create
  </button>
</div>
