
:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.mat-column-name {
  word-wrap: break-word;
  width: calc(100% - 25px);
  color: white;
  text-align: left;
}

.mat-column-category {
  width: 100px;
  color: white;
  text-align: right;
}

.mat-column-weekday {
  width: 60px;
  color: white;
  text-align: left;
}

table {
  background-color: #202124;
  width: 90vw;
}

.food-plan-table {
  overflow-y: auto;
  border: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .food-plan-table {
    height: 60vh;;
  }
}

.add-button-container {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

app-food-planner {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  justify-content: center;
  align-content: center;
  align-items: center;

}


